include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_engineering *.css
recursive-include erpnext_engineering *.csv
recursive-include erpnext_engineering *.html
recursive-include erpnext_engineering *.ico
recursive-include erpnext_engineering *.js
recursive-include erpnext_engineering *.json
recursive-include erpnext_engineering *.md
recursive-include erpnext_engineering *.png
recursive-include erpnext_engineering *.py
recursive-include erpnext_engineering *.svg
recursive-include erpnext_engineering *.txt
recursive-exclude erpnext_engineering *.pyc